@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@property --mainColor {
    syntax: '<color>';
    initial-value: rgb(108, 3, 255);
    inherits: false;
}

@property --subColor {
    syntax: '<color>';
    initial-value: rgb(188, 3, 255);
    inherits: false;
}

:root {
    --ofertasColor: rgba(255, 255, 255);
    --borderColor: rgba(255, 255, 255, 0.1);
    --borderColor2: rgba(0, 0, 0, 0.2);
    --greyBgColor: rgba(0, 0, 0, 0.1);
    --inactiveText: rgb(255, 255, 255, 0.5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

body {
    /* background-color: rgb(20, 20, 20); */
    color: white;
}

a {
    text-decoration: none;
    color: var(--inactiveText);
    transition: color 500ms;
}

a:hover {
    color: white;
}

/* HEADER */

.header {
    width: 100%;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8rem;
    position: fixed;
    backdrop-filter: blur(0);
    transition: background 500ms, border-color 500ms, backdrop-filter 1s;
    z-index: 3;
}

.header__logo {
    font-size: 1.5rem;
}

.header-scroll {
    backdrop-filter: blur(0.3rem);
    background-color: rgba(255, 255, 255, 0.1);
    /* border-bottom: 1px solid var(--borderColor2); */
}

.header__ul {
    list-style: none;
    display: flex;
}

.header__ul-item {
    padding: 1rem;
}

/* MAIN */

main>* {
    margin-bottom: 6rem;
}

/* ////// */
/* INICIO */
/* ////// */

.inicio {
    margin-top: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    background: var(--mainColor);
    z-index: -1;
    box-shadow: 0px 0px 100px inset rgba(0, 0, 0, 0.327);
}

.inicio::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: radial-gradient(700px circle at 33% 50%,
            rgba(255, 255, 255, 0.4),
            transparent 100%);
    pointer-events: none;
    z-index: 0;
}

.inicio__box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem 2rem;
    width: 100%;
    height: 100%;
}

.inicio__box:first-child {
    flex-wrap: wrap;
}

.inicio__box__img {
    /* background-color: red; */
    position: absolute;
    background-image: url(../Images/pote_helado.png);
    width: 25rem;
    height: 25rem;
    border-radius: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
    top: 20%;
    /* left: 3%; */
    animation: 8s rotacionHeladoReversa ease-in-out infinite;
}

.inicio__box__img:first-child::after {
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    background: url(../Images/pote_tapa.png);
    background-size: contain;
    background-repeat: no-repeat;
    animation: 8s rotacion ease-in-out infinite;
}

.inicio__box__img:nth-child(2) {
    background-image: url(../Images/icecream.png);
    width: 25rem;
    height: 25rem;
    top: 40%;
    left: 15%;
    left: 20vw;
    animation: 8s rotacionHelado ease-in-out infinite;
}


.inicio__box:last-child {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.inicio__box>p {
    padding: 2rem;
    text-align: justify;
}

.inicio__box:last-child>button {
    border: none;
    color: white;
    font-weight: bold;
    padding: 1rem 2rem;
    border-radius: 10px;
    background: none;
    cursor: pointer;
    border: 2px solid var(--borderColor);
    position: relative;
    overflow: hidden;
    z-index: 0;
    box-shadow: 0 0 0 rgba(255, 255, 255, 0);
    transition: color 300ms, box-shadow 500ms;
}

.inicio__box:last-child>button:hover {
    color: black;
    box-shadow: 0 0 100px rgba(255, 255, 255, 0.6);
}

.inicio__box:last-child>button:after {
    width: 100%;
    height: 100%;
    content: "";
    background-color: white;
    position: absolute;
    top: 0;
    left: -100%;
    transition: left 500ms;
    z-index: -1;
}

.inicio__box:last-child>button:hover::after {
    left: 0%;
}

/* /////// */
/* OFERTAS */
/* /////// */

.ofertas {
    width: 100%;
    height: 50rem;
    border: 1px solid var(--borderColor2);
    background-color: var(--greyBgColor);
}

.ofertas {
    display: grid;
    grid-template: 100px 1fr / 1fr 1fr 1fr;
    gap: 1rem;
    padding: 2rem;
}

.ofertas__box {
    /* max-width: 20rem; */
    /* height: 50%; */
    max-width: 350px;
    background-color: var(--ofertasColor);
    border: 1px solid var(--borderColor2);
    color: black;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
}

.ofertas__box__img {
    width: 100%;
    height: 60%;
    /* height: 200px; */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 8rem;
    border-bottom: 1px solid var(--borderColor2);
}

.helado__rosa {
    background: url(../Images/icecream2.png);
    /* background-color: red; */
    background-size: 8rem;
    background-repeat: no-repeat;
    background-position: center;
}

.helado__multi {
    background-image: url(../Images/icecream3.png);
}

.helado__amarillo {
    background: url(../Images/icecream4.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 8rem;
}

.ofertas__box p {
    display: flex;
    text-align: center;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: center;
}

span {
    margin: 0.5rem 0;
}

.ofertas__box span:first-child {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: line-through;
    text-decoration-color: rgba(0, 0, 0, 0.5);
}

.ofertas__box span:last-child {
    font-weight: 600;
    color: var(--mainColor);
}

.ofertas__box>button {
    cursor: pointer;
    padding: 1rem 2rem;
    border: 1px solid rgb(188, 3, 255);
    border-radius: 10px;
    background: linear-gradient(90deg,
            var(--mainColor),
            var(--subColor));
    transition: --mainColor 500ms, --subColor 500ms;
}

.ofertas__box>button:hover {
    --mainColor: rgb(209, 81, 255);
    --subColor: rgb(145, 66, 255);
}

.ofertas>h2 {
    grid-area: 1 / 1 / 1 / -1;
    /* background-color: green; */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* /////// */
/* SABORES */
/* /////// */

.sabores {
    border-bottom: 1px solid var(--borderColor2);
}

.sabores__title {
    display: flex;
    justify-content: space-between;
    color: black;
    margin-bottom: 3em;
    padding: 0 5em;
    /* background-color: green; */
}

.sabores__title>h3 {
    font-size: 3rem;
}

.sabores__title>p {
    /* background-color: red; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.sabores__title>p>span {
    font-weight: bold;
    padding: 0.2em;
}

.sabores__container {
    width: 100%;
    border-top: 1px solid var(--borderColor2);
    padding: 2em;
    transition: background-color 500ms;
}

.sabores__container__items {
    display: flex;
    justify-content: space-between;
    padding: 0 5em;
    /* background-color: red; */
}

.sabores__container__items>* {
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: color 500ms;
}

.sabores__plus {
    display: flex;
    align-items: center;
    /* background-color: red; */
}

.girar-plus-abrir {
    animation: rotacionCruz 500ms;
}

.girar-plus-cerrar {
    animation: rotacionCruzCerrar 500ms;
}

.sabores__container:hover .sabores__container__items>* {
    color: rgba(0, 0, 0, 1);
}

.sabores__container__list {
    color: black;
    display: grid;
    grid-template-rows: 0fr;
    transition: padding 500ms, grid-template-rows 500ms, background-color 500ms;
}

/* CLASE QUE SE AÑADE MEDIANTE TOGLE EN JAVASCRPIT */
.open-box {
    grid-template-rows: 3fr;
    padding: 5em 0;
}

.sabores__container__list ul {
    overflow: hidden;
    list-style: none;
    margin: 0 5em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1em;
}

.ul__img {
    grid-area: 1 / 4 / 5 / -1;
    background-image: url(../Images/cheesecake.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* SABORES NUEVOS */

li[nuevo]::after {
    content: "New";
    position: relative;
    background-color: var(--mainColor);
    color: white;
    border-radius: 5px;
    margin: 0 0.5em;
    padding: 0.2em;
}

/* ////// */
/* FOOTER */
/* ////// */

footer p {
    font-size: 0.8rem
}

.redes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    background-color: var(--mainColor);
    height: 5vh;
    list-style: none;
    display: flex;
}

.redes__item {
    padding: 0 1rem;
}

.footer__div {
    color: rgb(160, 160, 160);
    /* background-color: red; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 3em;
}

/* SCROLLBAR */

::-webkit-scrollbar {
    width: 10px;
    display: none;
}

/* 
////////////////////////////////////////
MediaQuerys
////////////////////////////////////////
*/

@media only screen and (max-width:480px) {
    .inicio {
        grid-template: 2fr 1fr / 1fr;
    }

    .inicio__box {
        /* background-color: red; */
        border-bottom: 1px solid var(--borderColor);
    }

    .ofertas {
        grid-template: 100px 1fr / 1fr 1fr 1fr;
        grid-template: 100px repeat(3, 1fr) / 1fr;
    }

    .ofertas__box {
        display: flex;
        flex-direction: row;
    }
}

/* 
////////////////////////////////////////
Animaciones
////////////////////////////////////////
*/


@keyframes rotacionCruz {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotacionCruzCerrar {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

@keyframes rotacionHelado {
    0% {
        transform: rotate(-5deg);
    }

    50% {
        transform: rotate(15deg);
    }

    100% {
        transform: rotate(-5deg);
    }
}

@keyframes rotacionHeladoReversa {

    0% {
        transform: rotate(5deg);
    }

    50% {
        transform: rotate(-15deg);
    }

    100% {
        transform: rotate(5deg);
    }
}

@keyframes rotacion {

    0% {
        transform: rotate(-5deg) translateX(10px) translateY(-30px);
    }

    50% {
        transform: rotate(15deg) translateX(30px) translateY(-80px);
    }

    100% {
        transform: rotate(-5deg) translateX(10px) translateY(-30px);
    }
}